<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterPageServlet</servlet-name>
        <servlet-class>newpackage.RegisterPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>newpackage.LoginPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>newpackage.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>AdminPanel.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAboutUs</servlet-name>
        <servlet-class>AdminPanel.EditAboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>AdminPanel.EditContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>AdminPanel.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Cart.AddToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterPageServlet</servlet-name>
        <url-pattern>/RegisterPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/LoginPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAboutUs</servlet-name>
        <url-pattern>/EditAboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
